# =====================================================
# =================== 不排除的文件目录 =================
# =====================================================
# 不排除.gitignore文件
!.gitignore
# 不排除.gitmodules文件
!.gitmodules
# 不排除.gitattributes文件
!.gitattributes

# =====================================================
# =================== 排除的文件目录 ===================
# =====================================================
# 排除.vscode目录
.vscode
# 排除.vs目录
.vs
# 排除CMake的build目录
# 默认构建目录build在该项目的根目录下
build
# CMake生成可执行文件目录
bin